.team-generator-container {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 10px;
  backdrop-filter: blur(10px);
}

.names-container {
  margin-bottom: 20px;
  max-height: 350px; 
  overflow: auto;
  border-radius: 10px;
  padding: 10px;
  backdrop-filter: blur(5px);
}

.name-item {
  display: flex;
  align-items: center;
  margin: 5px;
  padding: 5px;
  border: 1px solid #ddd;
  border-radius: 5px;
  background-color: #f9f9f9;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}

.name-item > div {
  flex-grow: 1;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.names-container > div {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  justify-content: center;
}

input {
  flex-grow: 1;
  padding: 5px;
  margin-right: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

button {
  padding: 5px 10px;
  background-color: #007bff;
  color: #fff;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}

button:hover {
  background-color: #0056b3;
}

.teams-container {
  display: flex;
  justify-content: space-around;
  margin-top: 20px;
  backdrop-filter: blur(10px);
}

.team {
  flex: 1;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: rgba(255, 255, 255, 0.1);
}

ul {
  list-style: none;
  padding: 0;
}

li {
  margin-bottom: 5px;
}

h2 {
  margin-bottom: 10px;
}

select {
  flex-grow: 1;
  padding: 5px;
  margin-right: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #fff;
  color: #333;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}

select::after {
  content: "\25BC";
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  color: #007bff;
  pointer-events: none;
}

select:focus {
  border-color: #007bff;
}

.player-text {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 5px;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  background-color: #f9f9f9;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}

.player-text button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  color: #007bff;
  font-size: 14px;
  margin-left: 5px;
}

.player-text button:hover {
  color: #0056b3;
}



.edit-text {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 5px;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  background-color: #f9f9f9;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}

.edit-text button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  color: #007bff;
  font-size: 14px;
  margin-left: 5px;
}

.edit-text button:hover {
  color: #0056b3;
}

.player-name {
  font-weight: bold;
  margin-right: 10px;
}

.player-skill {
  color: #555;
}

.player-item {
  display: flex;
  align-items: center;
  margin: 5px;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  background-color: #f9f9f9;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}

.player-input {
  flex-grow: 1;
  padding: 5px;
  margin-right: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.player-select {
  flex-grow: 1;
  padding: 5px;
  margin-right: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #fff;
  color: #333;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}

.add-player-button {
  padding: 5px 10px;
  background-color: #007bff;
  color: #fff;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}

.add-player-button:hover {
  background-color: #0056b3;
}